.navigation {
    float: left;
    width: 100%;
    min-height: 27px;
    position: relative;
    overflow: visible;
    background: #B37029;
    z-index: 999;
    border-bottom: 1px solid #aaa;
}
.navigation li {
    float: left;
    position: relative;
    width: 25%;
    min-height: 27px;
    text-align: center;
}
.navigation li.about {
    width: 199px;
}
.navigation li a {
    float: left;
    display: block;
    width: 100%;
    position: relative;
    color: white;
    font: bold 13px Arial, sans-serif;
    padding-top: 5px;
}
.navigation li a:hover {
    text-decoration: none;
}
.navigation li a span {
    width: auto;
}
.navigation li ul{
    display: none;
    z-index: 99999;
    position: absolute;
    top: 27px;
    left: 0px;
    background: #B37029;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    width: 100%;
    margin-left: 15%;
}
.navigation li.maps ul{
    width: 100%;
    margin-left: 17%;
}
.navigation li.about ul{
    width: 90%;
    margin-left: 10%;
}
.navigation li li {
    text-align: left;
    width: 100%;
    min-height: 0;
    height: 23px;
}
.navigation li li a{
    background: #B37029;
    width: auto;
}
.navigation li.explore li a{
    padding-left: 7px;
}
.navigation li.maps li a{
    padding-left: 19px;
}
.navigation li.resources li a{
    padding-left: 8px;
}
.navigation li.about li a{
    padding-left: 17px;
}