p, li, span{ 
    font: normal 12.5px/17px Georgia, "Times New Roman", Times, serif; 
    color: #231F20;
}
a {
    color: #B37029;
    text-decoration: none;
}
a:hover {
    color: #3F2C14; 
    text-decoration:underline;
}
h1 {
    font:normal 26px/26px Georgia, "Times New Roman", Times, serif;
    color: #402C37;
    margin-bottom: 9px;
}
h2 {
    font:normal 18px/18px Georgia, "Times New Roman", Times, serif;
    color: #402C37;
    margin-bottom: 6px;
}
body {
    text-align: center;
    background: #A39982 url(../img/bg_gradient.png) repeat-x top left;
    font: normal georgia, times, serif 10px/15px;
    width: 100%;
    color: #323232;
}
sup {
    position: relative;
    top: -5px;
    overflow: visible;
}
.footnote {
    font-size: 11px;
}
#wrapper {
    width: 852px;
    margin: 0 auto;
    text-align: left;
}
#header {
    background: transparent url(../img/header_interviewee.jpg) no-repeat top left;
    width: 100%;
    height: 142px;
    font: normal 12px arial, sans-serif;
    overflow: hidden;
}
.rtl{
    direction: rtl;
    unicode-bidi: embed;
}
.interior #header{
    background-image:  url(../img/header_interior.jpg);
}
.interviewee #header{
    background-image:  url(../img/header_interviewee.jpg) !important;
}
.explore #header{
    background-image:  url(../img/header_explore_by.jpg) !important;
}
.advanced_keyword_search #header{
    background-image:  url(../img/header_advanced_keyword.jpg);
}
.home #header{
    background-image:  url(../img/header_homepage.jpg);
}
.maps #header{
    background-image:  url(../img/header_maps.jpg);
}
#header h3 a {
    text-indent: -9999px;
    float: left;
    display: block;
    width: 265px;
    height:144px;
    postion: relative;
}
#header form {
    float: right;
    position: relative;
    display: block;
    margin-right: 30px;
    width: 315px;
    margin-top: 35px;
}
.keyword_search .text {
    vertical-align: middle;
    width: 215px;
    height: 19px;
    border: 0;
    background: #fff;
    padding: 5px 0 0 5px;
}
.keyword_search .submit {
    vertical-align: middle;
    padding-top: 2px;
}
a.advanced_search_link {
    clear:right;
    float:right;
    margin: 10px 35px 0 0;
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans", verdana, sans-serif,
}
/*
* content
*/
#content_wrapper {
    width: 100%;
    float: left;
    background: #fff0e0;
}
#content {
    float: left;
    width: 590px;
    position: relative;
    padding: 30px;
}
/*
footer
*/
#footer {
    float: left;
    width: 100%;
    margin-top: 11px;
    position: relative;
}

#footer div {
    width: 50%;
    float: left;
}

#footer .commons {
    clear: left;
}
#footer .brand {
    float: right;
    width: 318px;
    height: 64px;
    background: transparent url(../img/galvin_library_iit_logo.png) no-repeat top left;
    text-indent: -9999px;
}
#footer span{
    float: left;
    position: relative;
    color: #fff;
    font: bold 10px/18px "Lucida Grande", "Lucida Sans", verdana, sans-serif;
}
#footer .address{
    clear: left;
    float: left;
    width: 45%;
}

#footer .links{
    float: left;
    margin-right: 60px;
}
#footer a {
    color: #ddd;
    text-decoration:none;
}

#footer a.iit_link {
    color: #fff;
    text-decoration:none;
}

#footer a:hover {
    color:#000;
    text-decoration:underline;
}
#footer .brand span,
#footer .brand span a {
    width: 50%;
    float: left;
    display: block;
    position: relative;
    height: 50px;
}
#footer .brand span a {
    width: 100%;
}

/* 
* sidebar
*/
#sidebar{
    float: left;
    width: 300px;
    padding: 30px 0;
}
#sidebar h3{
    color: #402C37;
    font: bold 13px/16px "Arial Black", Arial, Verdana, sans-serif; 
}

#sidebar h4 {
    color: #402C37;
    font: bold 12px/18px "Arial Black", Arial, Verdana, sans-serif;
}

#sidebar ul{
    clear: both;
    margin: 12px 0;
}
#sidebar ul ul{
margin-top: 2px;
}
#sidebar a{
    font-size: 11px;
    line-height: 14px;
}
/*
* interview
*/
.audio .audio_player{
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.interview #content,
.audio #content {
    width: 585px;
}
.audio #content {
    padding: 30px 30px 0;
}    
.interview #content li {
    clear: left;
    margin: 10px 0 17px;
}
.interview #content .meta li {
    margin: 7px 0;
}
.interview #content .meta, {
    margin: 0 0 25px;
}
.interview .who {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 12px;
}

/* make Yiddish text a little bigger */
.interview .utterance.rtl {
    font-size:14px;
}

.interview #content ul,
.interview #content ol {
    border-top: solid 1px #666;
    padding-top: 7px;
}
.interview #content ol li {
    list-style-type: decimal;
    margin-left: 25px;
    padding-left: 5px;
}
.interview ul li note span{
    display: none;
}
.interview #content sup{
    font-size: small;
    vertical-align: top;
}
.interview #content ul.note_popup {
    border-top: none;
    width: 250px;
    background: inherit;
    height: 50px;
    padding: 10px;
}
.interview #content ul.note_popup li {
    display: none;
}
.interview #sidebar,
.audio #sidebar {
    width: 203px;
    padding: 30px 0 0;
}

.interview #sidebar,
.audio #sidebar {
    width: 203px;
    padding: 30px 0 0;
}

.interview #sidebar .term {
	font-weight: bold;
}

/* interview metadata widgets */
/* general styles */
#sidebar .widget li {
    margin: 0 0 0 15px;
    padding:8px;
    position:absolute;
    border: 1px solid #5D461D !important;
    border-color: #fff #5D461D #5D461D #fff !important;
    display: none;
}
.widget p b a.hide {
    font: bold 11px/14px "Arial Black", Arial, Verdana, sans-serif;
}
.widget p b{
    width: 100%;
    clear: both;
    display: block;
    text-align: right;
    margin-bottom: 14px;
}
#translation #sidebar .map{
    width: 250px;
    text-align: center;
}
#translation #sidebar .map p,
#translation #sidebar .map div{
    margin-top: 7px;
    text-align: left;
    font: normal 14px arial, sans-serif;    
}
#translation #sidebar .map div{
    font: normal 12px arial, sans-serif;    
}
/* terms 
.interview ul li .term {
    font-style: italic;
}
*/
/*
* advanced search
*/
.advanced_keyword_search #content form div{
    width: 100%;
    float: left;
    clear: both;
    position: relative;
}
.advanced_keyword_search #content form span{
    float: left;
    width: 15px;
    position: relative;
}
.advanced_keyword_search #content form input.text {
    width: 213px;
    border: 1px solid #333;
    float: left;
    clear: left;
    position: relative;
    margin: 2px 10px 10px 0;
    height: 17px;
    padding: 2px 2px;
}
.advanced_keyword_search #content form input.submit {
    float: right;
    clear: left;
    position: relative;
}
.advanced_keyword_search #content form select.type {
    float: left;
    width: 213px;
    height: 23px;
    position: relative;
    margin-left: 10px;
}
.advanced_keyword_search #content form select.boolean {
    float: left;
    width: 98px;
    height: 23px;
    position: relative;
    margin-left: 22px;
}
.advanced_keyword_search #content  form .refine select {
    float: left;
    clear: left;
    width: 215px;
    position: relative;
    margin: 6px 20px 6px 0;
}
.advanced_keyword_search #content form .refine label {
    float: left;
    font: bold 12px/14px arial, sans-serif;
    width: 215px;
    position: relative;
    margin: 6px 20px 1px 0;
}
.advanced_keyword_search #content form .refine p {
    float: left;
    width: 250px;
    position: relative;
}
/*
* maps
*/
#map,
.map {
    border: 1px solid #aaa;
    padding: 7px;
    background: #FFF0E0;
}
.maps #content {
    width: 797px;
}
.maps #content p{
    margin: 10px 0 15px;
}
.maps #content .map {
    background:#B09C7B;
    float:left;
    min-height:360px;
    margin-top:10px;
    width:100%;    
}
.maps #content .map .camp {
    width: 140px;
    background: #C19741;
    position: relative;
    float: left;
    margin: 10px;
    list-style: none;
    padding: 12px;
}
/*
* homepage 
*/
.home #content{
    width: 792px;
}
.home h1{
    font: normal 24px/34px Georgia, "Times New Roman", Times, serif;
    width: 425px;
    float: left;
    position: relative;
    clear: none;
    color: #402C37;
    margin: 0;
}
.home h2{
    color: #856A5E;
    font: normal 16px/27px Georgia, "Times New Roman", Times, serif;
}
.home .intro,
.home .search{
    clear:both;
    float: left;
    position: relative;
    width: 100%;
}
.home .intro{
    margin-bottom: 12px;
}
.home .intro img, 
.home .intro span{
    float:right;
    clear: right;
    width: 341px;
    text-align: right;
    padding-left: 25px;
}
.home .intro span{
    margin-top: 4px;
    font: normal 10px/10px "Lucida Grande", "Lucida Sans", verdana, sans-serif;
}
.home .search{
    background: #D9D0B3;
}
.home .search img{
    float: left;
    clear: none;
    width: 447px;
    position: relative;
}
.home .search h3,
.home .search p{
    float: right;
    position: relative;
    width: 325px;
}    
.home .search h3{
    margin: 10px 0 3px;
    color: #B37029;
    font: normal 24px/27px Georgia, "Times New Roman", Times, serif;
}
.home .search p{
    color: #3F2C14;
    font: normal 12px/17px Georgia, "Times New Roman", Times, serif;
    display: block;
}    
.home .keyword_search{
    float: right;
    position: relative;
    width: 325px;
    margin-top: 7px;
    clear: right;
}
.home .keyword_search .text {
    vertical-align: middle;
    width: 236px;
    height: 21px;
    padding: 5px 0 0 5px;
    border: 0;
    background: #fff;
    float: left;
    clear: left;
}
.home .advanced_search_link{
    float: left;
    margin: 6px 0 0 20px;
    #margin-top: 105px !important;
    font: bold 12px/12px "Lucida Grande", "Lucida Sans", verdana, 
sans-serif;
    display: block;
    position: relative;
    width: 325px;
}
/*
* explore by
*/
.explore_by,
.pager{
    clear: left;
    margin-top: 10px;
}
.explore_by a,
.pager a{
    font-weight: bold;
}
.pager .previous {
float: left;
}
.pager .next {
float: right;
}
/*
* interviewee
*/
.interviewee #content{
    width: 470px;
}
.interviewee h3{
    color: #402C37;
    font: bold 16px/16px Georgia, "Times New Roman", Times, serif;
    margin-bottom: 5px;
}
ul.transcripts {
    border: none !important;
    width: 100% !important;
    float: left;
    clear: both;
    margin: 7px 0 10px !important;
}
ul.transcripts li {
    display: inline;
}
#original ul.transcripts li.transcription a,
#translation ul.transcripts li.english_translation a,
#commentary ul.transcripts li.commentary a,
#audio ul.transcripts li.audio a,
#original ul.transcripts li.transcription a:hover,
#translation ul.transcripts li.english_translation a:hover,
#commentary ul.transcripts li.commentary a:hover,
#audio ul.transcripts li.audio a:hover {
    color: #231F20;
}
ul.transcripts a {
    font-weight: bold;
}
.interviewee #content ul{
    float: left;
    clear: both;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.interviewee #sidebar li{
    margin: 0 0 7px;
    float: left;
    position: relative;
    width: 100%;
}
.interviewee #sidebar h3{
    color: #402C37;
    font: bold 16px/16px Georgia, "Times New Roman", Times, serif;
    margin: 7px 0;
}

.interviewee #sidebar a{
    font-size:12.5px;
    font-weight: bold;
}
.interviewee .media{
    float: left;
    position: relative;
    background: #808285;
    width: 293px; 
    height: 200px;
    border: 1px solid #9F9F9F;
}
/*
* search results
*/
.search_results h1{
    width: 50%;
    float: left;
    position: relative;
}
.search_results a{
    font-weight: bold;
}
.search_results #content ul{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
.search_results #content .search_meta{
    float: left;
    width: 50%;
    position: relative;
    text-align: right;
}
.search_results .search_meta span{
    color: #B37029;
}
.search_results #content .result_list li{
    margin-bottom: 15px;
}
.interior #sidebar {
    width: 152px;
}
.interior #sidebar li a{
    font: bold 12.5px/17px georgia, "Times New Roman", Times, serif;
}
.search_results #content ul.pager{
    margin-bottom: 5px;
}
.search_results #content p{
    text-align: right;
}
.search_results #content .result_list .keyword{
    background: #e9cfb1;
}
/*
* interior/about pages
*/
.about #sidebar {
    margin-top: 30px;
    background: #D3BAA8;
    padding: 10px;
}
.about #content img{
    float: right;
    padding: 7px 0s 7px 7px;
}
.bio_pic {
	float:right;
}
.interior #content p{
    margin-bottom: 20px;
}
.bib_entry {
    margin-left:.5in;
    text-indent:-.5in;
}
.privacy-policy #content div ul{
    list-style: disc;
    padding: 0 0 0 15px;
    margin: 0 0 15px;
}
/*
* glossary
*/
.glossary #content li {
    margin: 1em 0 1em 1em;
    text-indent: -1em;
}
.blockquote {
    margin-left:.5in;
    margin-right:.5in;
    font-size:12px;
}
/*
* camps list
*/
.camps-ghettos #content li {
    margin: 0 0 1em;
}
/*
* contact page
*/
.contact #content form{
    display: block;
    float: left;
    position: relative;
    width: 100%;
    clear: both;
    margin: .5em 0 0;
}
.contact #content form p{
    margin: .8em 0 0;
}
.bib_entry {
    margin-left:.5in;
    text-indent:-.5in;
}
.privacy-policy #content div ul{
    list-style: disc;
    padding: 0 0 0 15px;
    margin: 0 0 15px;
}
