/* custom styles for map data markup provided by openlayers.org */
.olPopup{
    background: #FFF0E0 !important;
    color: #5a361D !important;
    width: 210px !important;
    height: auto !important;
    padding: 15px 10px 20px !important;
    border: 1px solid #5D461D !important;
    border-color: #fff #5D461D #5D461D #fff !important;
    font: normal 12px/15px arial, sans-serif;
}
.olPopupContent{
    overflow: visible !important;
    width: 185px !important;
    height: auto !important;
}
.olPopupCloseBox{
    background: url(../img/close_button.png) no-repeat 0 0;
    cursor: pointer;    
}
.olPopupContent .placename{
    width: 100%;
    font: normal 15px/16px arial, sans-serif;
    margin: 14px 0 0 !important;
}
.olPopupContent .municipality,
.olPopupContent .subcamp_of{
    width: 100%;
    font: normal 11px/15px arial, sans-serif;
    margin: 0 0 7px !important;
}
.olPopupContent .subcamp_of {
    margin: 0 !important;
}
.olPopupContent .municipality strong{
    font-weight: bold !important;
}
#Markers_4 div img{
    cursor: pointer;    
}
.olPopupContent p,
.olPopupContent span {
    font: normal 12px/15px arial, sans-serif;
}
.olControlPanZoom {
    left: 93% !important;
    top: 10px !important;
}
.olLayerDiv,
.olMapViewport div {
    margin-top: 0px !important;
}
